:root {
    --Azull: rgba(27, 59, 107, 0.788);
}

/* ESTILO GERAL*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: var(--Azull);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

.btn-contato button:hover,
form .btn-enviar input:hover {
    box-shadow: 0px 0px 8px var(--Azull);
    transform: scale(1.05);
}

.logo h1{
    color: aliceblue;
    font-size: 20px;
}

.logo h1 span{
    color: var(--Azull);
    font-size: 28px;
}


h2.titulo {
    color: aliceblue;
    font-size: 38px;
    text-align: center;
}

h2.titulo span {
    color: var(--Azull);
}

.voltar a {
    color: aliceblue;
}

.voltar {
    padding: 40px 4%;
    text-align: left;
}

/* ESTILO DO CABEÇALHO */
header {
    padding: 40px 4%
}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: white;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding: 0 40px;
}

header nav ul li a:hover {
    font-style: italic;
    background-color: var(--Azull);
    transform: scale(1.3);
}

/* Estilo do topo do site */
section.topo-do-site {
    padding: 40px 4%;
}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 200px;

}

.topo-do-site h1 {
    color: aliceblue;
    font-size: 42px;
    line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span {
    color: var(--Azull);
}

.topo-do-site .txt-topo-site p {
    color: aliceblue;
    margin: 40px 0px;
}

.topo-do-site .img-topo-site img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
    width: 70%;
    border-radius: 20%;
    
}

@keyframes flutuar {
    0% {
        top: 0;
    }

    100% {
        top: 30px;
    }
}

/*Estilo minha formação e meus projetos*/
section.corpo-site {
    padding: 100px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
}

.corpo-site .caixa {
    color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 20px;
    margin-top: 65px;
    transition: .2s;
}

.corpo-site .caixa:hover {
    transform: scale(1.05);
    box-shadow: 0 0 0 10px rgba(240, 248, 255, 0.26);
}


.corpo-site .caixa i {
    font-size: 50px;
    color: rgb(1, 0, 83);
}

.corpo-site .caixa h3 {
    font-size: 38px;
    margin: 15px 0;
}

.corpo-site .caixa p{
    font-size: 20px;
    
}

section.corpo-site .flex {
    padding: 40px;
    gap: 50px;
}

.corpo-site .caixa2 {
    color: rgb(255, 255, 255);
    padding: 40px;
    border-radius: 20px;
    margin-top: 65px;
    transition: .2s;
    width: 50%;
    height: 500px;
}

.corpo-site .caixa2:hover {
    transform: scale(1.05);
    box-shadow: 0 0 0 10px rgba(240, 248, 255, 0.26);
}


.corpo-site .caixa2 i {
    font-size: 50px;
    color: rgb(1, 0, 83);
}

.corpo-site .caixa2 h3 {
    font-size: 38px;
    margin: 15px 0;
}

.corpo-site .caixa2 p{
    font-size: 20px;
    margin-top: 40px;

}
.corpo-site .link{
    padding: 20%;
    text-align: right
}

.corpo-site .link a{
    color: rgb(1, 0, 83);
    font-size: 20px; 
}

/*Estilo formulario*/
section.formulario {
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
}

form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;

}

form input,
form textarea {
    width: 100%;
    background-color: rgba(58, 56, 56, 0.986);
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: aliceblue;
    font-size: 18px;
}

form textarea {
    resize: none;
    max-height: 200px;
}

form .btn-enviar {
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input {
    width: 120px;
    background-color: var(--Azull);
    color: black;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
}

/*Estilo dp rodapé*/

footer {
    padding: 70px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;

}

footer .flex {
    justify-content: space-around;
    border-top: 2px solid var(--Azull);
}


footer .linha-footer p i {
    color: var(--Azull);
    font-size: 22px;
}

footer .linha-footer p a {
    color: aliceblue;
}

@media screen and (max-width: 900px) {

    /*--classe geral--*/
    .flex {
        flex-direction: column;
    }

    h2.titulo { 
        font-size: 34px;
        line-height: 30px;
        
    }
    /*--cabeçalho--*/
    header>.interface {
        display: flex;
        align-items: flex-start;
        padding-left: 5%;
        justify-content: space-between;
    }
    
    header nav ul li {
        display: block;
        padding: 5px 20px;
    }

    /*--topo-site--*/
    .topo-do-site h1 {
        font-size: 30px;
    }

    section.topo-do-site {
        padding: 20px 8%;
    }

    .topo-do-site .img-topo-site img {
        width: 70%;
    }

    /*Estilo minha formação e meus projetos*/
    section.corpo-site {
        padding: 80px 8%;
    }

    header>.interface {
        flex-direction: column;
        gap: 20px;
    }

    .corpo-site .caixa2 i {
        font-size: 30px;
    }

    .corpo-site .caixa2 h3 {
        font-size: 30px;
        margin: 10px 0;
    }
    
    .corpo-site .caixa2 p{
        font-size: 14px;
        margin-top: 20px;
    
    }
    .corpo-site .link{
        padding: 10%;
    }
    
    .corpo-site .link a{
        color: rgb(1, 0, 83);
        font-size: 16px; 
    }

    .corpo-site .caixa2 {
        padding: 20px;
    }
}